@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poetsen+One&display=swap');

/* Asterisk wildcard */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body */
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* Header */
header{
    background-color: black;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
}
/* Navigation bar */
#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
}
#nav-bar li{
    display: inline;
    border-right: 1px solid oldlace;
}
#nav-bar li:last-child{
    border-right: none;
}
li a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
li a:hover{
    color: oldlace;
}
.active{
    text-decoration: underline;
}
/* Main */
main{
    background-color: oldlace; 
    width: 100%;
    flex: 1 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
/* Main image */
#hero{
    background: url("../images/dogs-on-leash.jpg") no-repeat center center/cover;
    width: 100%;
    height: 400px;
}
/* About guardian dogs */
#about{
    background-color: oldlace;
}
#about p{
    text-align: center;
}
/* First two images */
/* Second two images */
.dogs-images{
    width: 100%;
}
.dogs-images img{
    max-width: 100%;
    display: block;
}
/* Benefits section */
.benefits{
    background-color: oldlace;
}
.benefits h3{
    font-family: 'Poetsen One', sans-serif;
    font-size: 100%;
    text-align: center;
}
.benefits ul{
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
}
/* Quotes section */
.quotes{
    display: block;
    width: 100%;
    background-color: black;
}
.quotes div{
    background-color: oldlace;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 0 5px;
}
/* Common breeds */
/* Main image */
#hero-common-breeds{
    background: url("../images/belgian-shepherd-and-doberman.jpg") no-repeat center center/cover;
    width: 100%;
    height: 400px;
}
/* Common breeds section */
#common-breeds{
    color: black;
    text-align: center;
}
.three-main-breeds{
    color: black;
}
.three-main-breeds div{
    border: 2px solid black;
    border-radius: 8px;
    margin: 2px 2px;
    text-align: center;
}
/* First three images */
/* Second thee images */
.dogs-pictures{
    width: 100%;
}
.dogs-pictures img{
    max-width: 100%;
    display: block;
}
/* Feedback page */
#feedback{
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}
#signup{
    background-color: black;
    padding: 30px 20px;
}
#signup > h3{
    font-family: 'Poetsen One', sans-serif;
    font-size: 130%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: oldlace;
}
#personal-info, #opinion, #comment{
    margin: 20px 0;
    background-color: oldlace;
}
form h3{
    text-decoration: underline;
    margin-bottom: 10px;
}
#radio-buttons p{
    margin: 10px 10px;
    text-decoration: underline;
}
#radio-buttons{
    display: inline-block
}
#comment label{
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}
form > div{
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 8px;
}
#comment textarea{
    max-width: 100%;
} 
.submit{
    width: 75px;
    height: 30px;
    background-color: oldlace;
    font-weight: bold;
}
/* Footer */
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}
#networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    font-size: 130%;
    padding-left: 35px;
    padding-top: 10px;
    letter-spacing: 30px;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
/* About guardian dogs */
/* Common breeds */
#common-breeds p{
    padding: 5px;
}
/* Benefits section */
.benefits, #about{
    background-color: black;
}
.benefits div, #about p{
    border: 2px solid black;
    background-color: oldlace;
    border-radius: 8px;
    margin: 5px 10px;
    padding: 5px 5px;
}
/* Quotes section */
.quotes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quotes div{
    margin: 5px 5px;
}
/* Feedback page */
    #signup{
        margin: 30px 80px;
    }
}
/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px){
    /* About guardian dogs */
    /* Common breeds */
    #about, #common-breeds{
        background-color: black;
    }  
    #about p, #common-breeds p{
        background-color: oldlace;
        border: 1px solid black;
        border-radius: 8px;
    } 
    /* First two images on home page*/
    /* Second two images on home page*/
    /* First three images on common breeds page */
    /* Second three images on common breeds page */
    .dogs-images, .dogs-pictures{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px;
    }
    .dogs-images img{
        width: 40%;
    }
    .dogs-pictures img{
        width: 30%;
    }
    /* Three main breeds */
    .three-main-breeds{
        display: flex;
        flex-wrap: nowrap;
        background-color: black;
    }
    .three-main-breeds div{
        background-color: oldlace;
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    /* Feedback page */
    #signup{
        margin: 30px 120px;
    }
}
/* Media query: desktops (1200px and up) */
@media screen and (min-width: 1200px){
    /* About guardian dogs */
    /* Common breeds */
    #about, #common-breeds{
        padding: 10px 50px;
    }  
    /* Feedback page */
    #signup{
        margin: 30px 160px;
    }
}